@inherits LayoutComponentBase

<PageTitle> BARFI </PageTitle>
<main>
    <RadzenHeader>
        
        <p style="text-align: center;margin: revert;"> WelCome</p>
    </RadzenHeader>
    <RadzenBody>
        <ChildContent>
            <RadzenContentContainer>
                @Body
            </RadzenContentContainer>
        </ChildContent>
    </RadzenBody>
</main>





