@inherits LayoutComponentBase

<PageTitle> BARFI </PageTitle>
<main>
    <RadzenHeader></RadzenHeader>
    <RadzenBody>
        <ChildContent>
            <RadzenContentContainer>
                @Body
            </RadzenContentContainer>
        </ChildContent>
    </RadzenBody>
</main>





