@page "/youMayAlsoLIke"
@layout MainLayout


<div class="col-12">
    <RadzenRow>
        <RadzenColumn Size="3">
            <a href="/login">
                <RadzenCard Style="margin-bottom: 20px;">
                    <div class="card-img-half img-container">
                        <img src="images/image (1).jpeg" class="default-img" />
                        <img src="images/image (2).jpeg" class="hover-img" />

                        <div class="text-overlay">
                            <h3>This photo is related</h3>
                        </div>
                    </div>
                </RadzenCard>
            </a>
        </RadzenColumn><RadzenColumn Size="3">
            <a href="/login">
                <RadzenCard Style="margin-bottom: 20px;">
                    <div class="card-img-half img-container">
                        <img src="images/image (1).jpeg" class="default-img" />
                        <img src="images/image (2).jpeg" class="hover-img" />

                        <div class="text-overlay">
                            <h3>This photo is related</h3>
                        </div>
                    </div>
                </RadzenCard>
            </a>
        </RadzenColumn>
        <RadzenColumn Size="3">
            <a href="/login">
                <RadzenCard Style="margin-bottom: 20px;">
                    <div class="card-img-half img-container">
                        <img src="images/image (1).jpeg" class="default-img" />
                        <img src="images/image (2).jpeg" class="hover-img" />

                        <div class="text-overlay">
                            <h3>This photo is related</h3>
                        </div>
                    </div>
                </RadzenCard>
            </a>
        </RadzenColumn>
        <RadzenColumn Size="3">
            <a href="/login">
                <RadzenCard Style="margin-bottom: 20px;">
                    <div class="card-img-half img-container">
                        <img src="images/image (1).jpeg" class="default-img" />
                        <img src="images/image (2).jpeg" class="hover-img" />

                        <div class="text-overlay">
                            <h3>This photo is related</h3>
                        </div>
                    </div>
                </RadzenCard>
            </a>
        </RadzenColumn>
     
    </RadzenRow>
</div>
